.main {
    margin-top: 30px
}

.search {
    color: lightgray;
    cursor: pointer;
}

.button-search {
    float: right;
}

.searchShows {
    margin-top: 15px;
}

.search-results {
    height: 100%;
}

.show-card {
    height: 240px;
    width: 100%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    padding: 2px 18px;
}

.title-show {
    font-size: 19px;
    font-weight: bold;
}